.page__padding-places {
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1280px) {
  .page__padding-places {
  padding-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
  padding-right: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .page__padding-places {
  padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  padding-right: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .page__padding-places {
  padding-left: calc(24 * ((100vw - 320px) / (768 - 320)));
  padding-right: calc(24 * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 767px) {
  .page__padding-places {
    padding: 0 0 0;
  }
}
