.page__padding-photo-grid {
  padding: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .page__padding-photo-grid {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .page__padding-photo-grid {
    padding-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .page__padding-photo-grid {
    padding-bottom: 61px;
  }
}
